:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  overflow: hidden;
}
#menu {
  display: grid;
  place-content: center;
  height: 100vh;
}

#inputs {
  grid-row: 1;
  padding: 1px 1px;
}

#startButton {
  grid-row: 2;
  padding: 1px 1px;
} 

#ranking {
  grid-row: 3;
  padding: 1px 1px;
}

canvas {
  border: 1px solid grey;
}

#gameInfo {
  display: flex;
  justify-content: space-between;
} 

.hidden {
  display: none !important;
}

.visible {
  display: contents !important;
}

.dot{
  background-color: red;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}